{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

<!-- Home page hero image text overlay-->
{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 text-white">
                Yoga & Meditation Space
            </h1>
            <h3 class="intro-text text-white">Pay as you go class passes and yoga equipment</h3>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-btn btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_footer %}
<!--Start Footer -->
<footer>
<div class="footer-container">
    <div class="container-fluid">
        <div class="row bg-blue">
            <div class="col-sm-12 col-md-4">
                <p class="text-center hover-pink my-auto">
                    <a class="hover-pink footer-link" href="">Contact Us <a href=""><i
                                class="text-white hover-pink far fa-envelope"></i></a>
                </p>
            </div>
            <div class="col-sm-12 col-md-4 text-center">
                <a href=""><img src="{% static 'images/lotus.png' %}" alt="logo"></a>
            </div>
            <div class="col-sm-12 col-md-4">
                <p class="text-center  my-auto ">
                    <a class="footer-link hover-pink" href="">Find us on the map <i
                            class="text-white hover-pink fas fa-map-marker-alt"></i></a>
                </p>
            </div>
        </div>
        <div class="row bg-dark">
            <div class="col-sm-12">
                <p class="text-center copyright">Copyright &copy; Jane Rinn <span id="copyright"></span></p>
            </div>
        </div>
    </div>
</div>
</footer>
{% endblock %}