html {
    height: 100%;
}

body {
    background: url('/media/hero-img.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 160px);
    color: #262626;
    font-family: 'Josefin Slab';
    margin-top: 160px;
}

h1 {
    font-family: 'six caps';
    text-transform: uppercase;
}

.bg-blue {
    background-color: #6C748C;
}

.bg-pink {
    background-color: #f29188;
}

.bg-dark {
    background-color: #262626;
}

.text-dark {
    color:#262626 !important;
}

.text-blue {
    color: #6c748c !important;
}

.text-peach {
    color: #f2CEAE !important;
}

.text-light-pink {
    color: #f2A999 !important;
}

.text-dark-pink {
    color:#f29188 !important;
}

.border-dark {
    border: 1px solid #262626 !important;
}

/*Found on Git Hub Gist */
input[type="text"], textarea {
    outline: none;
    box-shadow:none !important;
    border:1px solid white !important;
    }

/*--------------------------------------------NAVIGATION MENU-------------*/

.navbar-toggler {
    border: solid 2px white !important;
}
.dropdown-item {
    color: white;
}

.main-header {
    font-size:1.2rem;
}

.main-nav-font {
 font-size: 1.2rem;
 color: #262626;
 text-transform: uppercase;
}

.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus {
    color:#262626;
    background-color:#f29188;
}

/* icon from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: white;
}

.icon-dark {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: #262626;
}

.logo-link {
    width: fit-content;
}

.logo-text{
    font-size: 52px;
}

button.navbar-toggler {
    color: white !important;
}

/*---------------DELIVERY BANNER----------*/

.del-banner {
    font-size: 1rem;
}

/*---------------FOOTER----------*/

footer {
    background-color: #6c748c ;
    color: white;
    bottom: 0;
    width: 100%;
    flex: 1;
    position: fixed;
}

footer,p {
    font-size: 1.2rem;
    margin: 0;
    padding: 5px 0 0px 0;
}

footer img {
    padding: 5px 0 5px 0;
    width: 3rem;
  }

.copyright {
    font-size: 1rem;
}

/*---------------HOMEPAGE----------*/

.timetable-button {
    background: #F29188;
    color: white;
    min-width: 260px;
}

.timetable-button:hover {
    background: white;
    color: #F29188;
    min-width: 260px;
}

/* -------------------------------- Media Queries */

@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
      .header-container {
          padding-top: 160px;
      }
  }