html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url('/media/hero.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 160px);
    color: #262626;
    font-family: 'Josefin Slab', sans-serif;   
}

h1 {
    text-transform: uppercase;
}

h2 {
    font-size: 1.5rem;
}

.bg-blue {
    background-color: #6C748C;
}

.bg-pink {
    background-color: #f29188;
}

.bg-dark {
    background-color: #262626;
}

.text-dark {
    color:#262626 !important;
}

.text-blue {
    color: #6c748c !important;
}

.text-dark-pink {
    color:#f29188 !important;
}

.border-dark {
    border: 1px solid #262626 !important;
}

/*Class from on Git Hub Gist and customized to suit */
input[type="text"], textarea,
select,
input[type="email"],
.btn {
    outline: none;
    box-shadow: none !important;
    border:1px solid white !important;
    }

.hover-pink:hover {
    color: #f29188 !important;
}

/* Class from CI BA Project */
.overlay {
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    position: fixed;
    background-color: white;
    z-index: -1;
}

/*--------------------------------------------ICONS-----------------------*/

.icon-footer:hover {
    color: #f29188;
}

/* icon from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: .5rem;
    width: .5rem;
    color: white
}

.icon:hover {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: .5rem;
    width: .5rem;
    color: #f29188;
}

.header-icon {
    font-size: 1rem;
}

/*--------------------------------------------BUTTONS-----------------------*/

.btn-gen {
    background: #6c748c ;
    color: white;
}

.btn-gen:hover {
    background: #F29188;
    color: white;
}

.shop-btn {
    background: #6c748c ;
    color: white;
    min-width: 260px;
}

.shop-btn:hover {
    background: white;
    color: #F29188;
    min-width: 260px;
}

a.category-filter-btn > span.cat-btn {
    background-color: #6c748c !important;
    color: white !important;
    border: none !important;
}
a.category-filter-btn > span.cat-btn:hover {
    background-color: #F29188 !important;
    color: white !important ;
    border: none !important;
}

.btt-btn {
    height: 32px;
    width: 32px;
    position: fixed;
    bottom: 80px;
    left: 4px;
    border-radius: 50%;
    display: none;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.input-group-append .btn, .input-group-prepend .btn {
    position: relative;
    z-index: 0;
}

/*--------------------------------------------NAVIGATION MENU-------------*/

.dropdown-menu, a.dropdown-item {
    border-radius: 0 !important;
    background-color: #6c748c;
    color: white !important;
}

.main-header {
    font-size:1.2rem;
}

.main-nav-font {
 font-size: 1rem;
 text-transform: uppercase;
}

a.dropdown-item:hover,
a.dropdown-item:active,
a.dropdown-item:focus {
    color: #262626 !important;
    background-color: white !important;  
}

.nav-logo {
    width: 3.5rem;
}

.logo-link {
    width: fit-content;
}

.logo-text{
    font-size: 1.25rem;
} 

/*-------------------------------------------------FOOTER----------*/

footer {
    background-color: #6c748c ;
    color: white;
    bottom: 0;
    width: 100%;
    flex: 1;
    position: fixed;
}

.footer-link {
    color: white;
    text-decoration: none !important;
}

footer img {
    width: 3rem;
  }

 footer p {
    font-size: 1.2rem;
    margin: 0;
    padding: 5px 0 0px 0;
}

.copyright {
    font-size: .75rem;
}

/*-------------------------------------------------MEDIA QUERIES----------*/

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* Fix Home Page text & button styling on larger screens */

@media (min-width: 1000px) {
    .container {
      max-width: 80%;
    }
      .header-container {
          padding-top: 160px;
      }
      
    .display-4.text-white {
        font-size: 4rem;
        margin-top: 200px;
        margin-right: 125px;
    }
  }

/* Media Query to handle responsivity on medium mobile screens */
 @media (max-width: 991px) {
    .header-container {
        padding-top: 90px;
    }

    .dropdown-menu {
        font-size: 0.7rem;
    }

    footer p {
    font-size: .75rem;
    margin: 0;
    padding: 5px 0 0px 0;
    }

    ul {
    padding: 0;
    margin: 0;
    }

    body {
        height: calc(100vh - 110px);
    }

    .display-4.text-white {
        font-size: 2rem;
        margin-top: 50px;
        margin-right: 25px;
    }

    .nav-link {
        padding: 0.15rem;

    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    .btn.btn-gen.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-gen.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }

    .btt-btn {
        height: 32px;
        width: 32px;
        position: fixed;
        bottom: 120px;
        left: 4px;
        border-radius: 50%;
        display: none;
    }

    }

    @media (max-width: 380px) {

        .header-container {
            padding-top: 60px;
        }

        .display-4.text-white {
            font-size: 1.5rem;
            margin-top: 50px;
            margin-right: 25px;
        }

        .intro-text{
            font-size: 1rem;
        }

        .shop-btn {
            background: #6c748c ;
            color: white;
            min-width: 160px;
            font-size: 1rem;
        }
        
        .shop-btn:hover {
            background: white;
            color: #F29188;
            min-width: 160px;
            font-size: 1rem;
        }
        
        .navbar {
            padding: 0;
        }
    }
/*--------------------------------------------TOASTS/MESSAGES---------------------*/

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999999;
}

.karma-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;

}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid #262626;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*--------------------------------------------ALL AUTH-----------------------*/

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #262626; /* text-secondary */
}

.allauth-form-inner-content input[type='text'], 
#id_password, #id_password1, #id_password2,
#id_email, #id_email2 {
    box-sizing: border-box !important;
    height: 40px !important;
    padding: 10px 12px !important;
    border: 1px solid transparent !important;
    border-radius: 0px !important;
    background-color: white !important;
    box-shadow: 0 1px 3px 0 #6c748c !important;
    -webkit-transition: box-shadow 150ms ease !important;
    transition: box-shadow 150ms ease !important;
    width: 100%;
    
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #262626;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    
    color: white;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
    background: #F29188;
    color: white;
}

/*--------------------------------------------PRODUCT FORM-----------------------*/

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type='file'] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #6c748c;
    border-color: #6c748c;
    border-radius: 0;
}

