<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!--Start Products Dropdown-->
        <li class="nav-item d-block d-md-none">
            <a class="main-nav-font nav-link text-white mr-5" id="home-link" href="{% url 'home' %}" 
                aria-haspopup="true" aria-expanded="false">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="main-nav-font nav-link  text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <!--Start Equipment Dropdown-->
        <li class="nav-item dropdown">
            <a class="main-nav-font  nav-link text-white mr-5" id="equipment-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Yoga
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="equipment-link">
                <a href="{% url 'products' %}?category=Mats" class="dropdown-item">Mats</a>
                <a href="{% url 'products' %}?category=Blocks" class="dropdown-item">Blocks</a>
                <a href="{% url 'products' %}?category=Straps" class="dropdown-item">Straps</a>
                <a href="{% url 'products' %}?category=Other" class="dropdown-item">Other</a>
                <a href="{% url 'products' %}?category=Mats,Straps,Blocks,Other" class="dropdown-item">All Yoga</a>
            </div>
        </li>
                <!--Start Meditation Dropdown-->
                <li class="nav-item dropdown">
                    <a class="main-nav-font  nav-link text-white mr-5" href="#" id="meditation-link" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Meditation
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="meditation-link">
                        <a href="{% url 'products' %}?category=Pillows" class="dropdown-item">Pillows</a>
                        <a href="{% url 'products' %}?category=Bowls" class="dropdown-item">Bowls</a>
                        <a href="{% url 'products' %}?category=Diffusers" class="dropdown-item">Diffusers</a>
                        <a href="{% url 'products' %}?category=Manuals,Auto/Biography/Spiritual" class="dropdown-item">All Meditation</a>
                    </div>
                </li>
        <!--Start Books Dropdown-->
        <li class="nav-item dropdown">
            <a class="main-nav-font  nav-link text-white mr-5" href="#" id="books-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="books-link">
                <a href="{% url 'products' %}?category=Manuals" class="dropdown-item">Manuals</a>
                <a href="{% url 'products' %}?category=Auto/Biography" class="dropdown-item">Auto/Biography</a>
                <a href="{% url 'products' %}?category=Spiritual" class="dropdown-item">Spiritual</a>
                <a href="{% url 'products' %}?category=Manuals,Auto/Biography/Spiritual" class="dropdown-item">All Books</a>
            </div>
        </li>
    </ul>
</div>