<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="main-nav-font nav-link  text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Class Passes</a>
                <a href="" class="dropdown-item ">Equipment</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="main-nav-font  nav-link text-white mr-5" href="#" id="passes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Class Passes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="passes-link">
                <a href="" class="dropdown-item">Yoga</a>
                <a href="" class="dropdown-item">Meditation</a>
                <a href="" class="dropdown-item">Womens Circle</a>
                <a href="" class="dropdown-item">All Passes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="main-nav-font  nav-link text-white mr-5" href="#" id="equipment-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Equipment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="equipment-link">
                <a href="" class="dropdown-item">Mats</a>
                <a href="" class="dropdown-item">Blocks</a>
                <a href="" class="dropdown-item">Straps</a>
                <a href="" class="dropdown-item">Merchandise</a>
                <a href="" class="dropdown-item">All Equipment</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="main-nav-font  nav-link text-white mr-5" href="#" id="timetable-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Timetable
            </a>
        </li>
    </ul>
</div>