<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="main-nav-font nav-link  text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="main-nav-font  nav-link text-white mr-5" href="#" id="passes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Class Passes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="passes-link">
                <a href="{% url 'products' %}?category=Yoga" class="dropdown-item">Yoga</a>
                <a href="{% url 'products' %}?category=Meditation" class="dropdown-item">Meditation</a>
                <a href="{% url 'products' %}?category=Yoga,Meditation" class="dropdown-item">All Passes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="main-nav-font  nav-link text-white mr-5" href="#" id="equipment-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Equipment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="equipment-link">
                <a href="{% url 'products' %}?category=Mats" class="dropdown-item">Mats</a>
                <a href="{% url 'products' %}?category=Blocks" class="dropdown-item">Blocks</a>
                <a href="{% url 'products' %}?category=Straps" class="dropdown-item">Straps</a>
                <a href="{% url 'products' %}?category=Other" class="dropdown-item">Other</a>
                <a href="{% url 'products' %}?category=Mats,Straps,Blocks,Other" class="dropdown-item">All Equipment</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="main-nav-font  nav-link text-white mr-5" href="#" id="timetable-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Timetable
            </a>
        </li>
    </ul>
</div>