{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}

<hr>
<h2 class="mb-2">{% trans "Sign up" %}</h2>
<hr>

<h4 class="text-muted font-italic text-dark-pink">Sign up to store your info for quicker checkout, favourite must have products and view past orders!</h4>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn-gen btn rounded-0" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

<p>{% blocktrans %}Already have an account? Then please <a class="font-weight-bold text-dark-pink mt-1" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<!--Space Container-->
<div class="row mb-2">
  <div class="col-12 mb-5">
      <div class="spacer">
      </div>
  </div>
</div>

{% endblock %}
