/*CSS Specific to the Check Out Feature*/

.fieldset-label {
  position: relative;
  right: .5rem;
}

#payment-form,
.form-control,
#card-element {
  color: #262626;
}

.form-container {
  margin-bottom: 100px;
}

select,
select option {
  color: #000000;
}

select:invalid,
select option[value=""] {
  color: #f29188 !important;
}

/* CSS taken from CI Boutique Ado and customized*/
.StripeElement,
.stripe-style-input,
input[type="text"],
textarea,
select,
input[type="email"] {
  box-sizing: border-box !important;
  height: 40px !important;
  padding: 10px 12px !important;
  border: 1px solid transparent !important;
  border-radius: 0px !important;
  background-color: white !important;
  box-shadow: 0 1px 3px 0 #6c748c !important;
  -webkit-transition: box-shadow 150ms ease !important;
  transition: box-shadow 150ms ease !important;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #6c748c;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
  color: #6c748c;
}

#loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(242, 169, 153, .75);
  z-index: 9999;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
  color: white;
}
